/* 全局样式表 */
html,
body, 
#app {
    height: 100%;
    /* margin，是CSS语法，这个简写属性用于在一个声明中设置所有当前或者指定元素所有外边距的宽度，或者设置各边上外边距的宽度。 */
    margin: 0;
    /* Padding（填充）属性定义元素边框与元素内容之间的空间。 */
    padding: 0;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-card {
    box-shadow: 0 1px 1px  rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
    font-size: 12px;
}
.el-pagination {
    margin-top: 15px;
}